body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
}

input{
    padding: 8px;
    width: 200px;
}

button{
    padding: 8px 15px;
    background: orangered;
    color: white;

}
li{
    margin: 8px;
    font-size: 20px;
}